# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/

# dependencies
node_modules/

# misc
/ember-click-outside-modifier/README.md
/ember-click-outside-modifier/LICENSE.md
.env*
.pnp*
.sass-cache
.eslintcache
npm-debug.log*
yarn-error.log
.DS_Store
